/**
 * Theme Name: Blueprint-Bricks
 * Theme URI: https://github.com/vsshealy/blueprint-theme-bricks
 * Description: A blueprint child theme for Bricks Builder.
 * Author: Scott Shealy
 * Author URI: https://www.scottshealy.com
 * Template: bricks
 * Version: 1.0.0
 * Text Domain: blueprint-theme-bricks
 * License: GNU General Public License v3 or Later
 * License URI: http://www.gnu.org/license/gpl-3.0.html
**/

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7Ozs7Ozs7Ozs7O0VBQUEiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyoqXG4gKiBUaGVtZSBOYW1lOiBCbHVlcHJpbnQtQnJpY2tzXG4gKiBUaGVtZSBVUkk6IGh0dHBzOi8vZ2l0aHViLmNvbS92c3NoZWFseS9ibHVlcHJpbnQtdGhlbWUtYnJpY2tzXG4gKiBEZXNjcmlwdGlvbjogQSBibHVlcHJpbnQgY2hpbGQgdGhlbWUgZm9yIEJyaWNrcyBCdWlsZGVyLlxuICogQXV0aG9yOiBTY290dCBTaGVhbHlcbiAqIEF1dGhvciBVUkk6IGh0dHBzOi8vd3d3LnNjb3R0c2hlYWx5LmNvbVxuICogVGVtcGxhdGU6IGJyaWNrc1xuICogVmVyc2lvbjogMS4wLjBcbiAqIFRleHQgRG9tYWluOiBibHVlcHJpbnQtdGhlbWUtYnJpY2tzXG4gKiBMaWNlbnNlOiBHTlUgR2VuZXJhbCBQdWJsaWMgTGljZW5zZSB2MyBvciBMYXRlclxuICogTGljZW5zZSBVUkk6IGh0dHA6Ly93d3cuZ251Lm9yZy9saWNlbnNlL2dwbC0zLjAuaHRtbFxuKiovIl19 */